---
import { getI18N } from "../components/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { basics } = await import(`../../cv-${currentLocale}.json`);
const { name, image } = basics;
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p set:html={i18n.ABOUTME_BASICS_P1}></p>
    <p set:html={i18n.ABOUTME_BASICS_P2}></p>
    <p set:html={i18n.ABOUTME_BASICS_P3}></p>
  </div>

  <img
    width="200"
    height="200"
    src="estebanhirzfeld.PNG"
    alt={name}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 object-center"
  />
</article>
