---
import LinkInline from "./LinkInline.astro";

import { getI18N } from "../components/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { name, position, url, startDate, endDate, summary, highlights } =
  Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-yellow-400">{position}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
        {name}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
        >{startDate} - {endDate ?? `${i18n.EXPERIENCE_CURRENTLY}...`}</time
      >
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3 whitespace-pre-line"
  >
    {summary}
    {
      url && (
        <LinkInline href={url}>
          {i18n.EXPERIENCE_LEARN_MORE}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    }
  </div>
</div>
